/* CSS BY RUBY DAWSON */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS RESET*/
 /* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 | License: none (public domain)*/
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (first/small) */

body {
    background-color: var(--linen);
    box-sizing: border-box;
    font-family: "Playfair Display";  
}

@media (min-width: 600px) {

}

@media (min-width: 900px) { 

 }

@media (min-width: 1200px) { 
    
}


header {
    background-color: var(--midnight-blue);
    color: var(--linen);
    font-family: "Playfair Display";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p {
    font-style: italic;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    text-align: left;
}

h2 {
    font-size: 1.5em;
    text-align: left;
}

h3 {
    font-size: 1.1em;
    text-align: left;
    font-weight: bold;
}

p {
    text-align: left;
}

li {
    text-align: left;
}

img {
    align-items: left;
}

footer {
    background-color: var(--midnight-blue);
    font-weight: bold;
    color: var(--linen);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

#navbar {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: var(--champagne-gold);
    bottom:0;
    color: var(--dark-charcoal);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}



div {
    background-color: var(--linen);
}


.button {
    background-color: var(--olive-green);
}

